In [2]:
!pip3 install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.2.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.16.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 21.3; however, version 22.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3 -m pip install --upgrade pip' command.

In [7]:
import pandas as pd

In [8]:
GDP_country = {"USA" :{"capital": "Washington, D.C", "GDP": 21.44},
               "China" :{"capital": "Beijing", "GDP" : 14.14},
               "Japan" :{"capital": "Osaka", "GDP" :51.5},
               "Germany" :{"capital" : "Berlin", "GDP" : 4.86},
               "Russia" :{"capital" : "Moscow", "GDP" : 2.86}}

In [4]:
#import pandas

In [9]:
#creating data frame
country_df = pd.DataFrame(GDP_country)

In [10]:
print(country_df)

                     USA    China  Japan Germany  Russia
capital  Washington, D.C  Beijing  Osaka  Berlin  Moscow
GDP                21.44    14.14   51.5    4.86    2.86

In [11]:
## setting working directory

In [11]:
import os

In [13]:
os.getcwd()

'/Users/macbookpro2013_d/Library/Mobile Documents/com~apple~CloudDocs/Devanta Abraham Tarigan/Projects/Python DSAI/Data Visualisation and Data Manipulation/codes'

In [13]:
data_country = pd.read_csv("../data/input/brics.csv", index_col = 0)
print(data_country)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [14]:
##subsetting values in dataframe
data_country[["country","capital", "area"]]

         country    capital    area
BR        Brazil   Brasilia   8.516
RU        Russia     Moscow  17.100
IN         India  New Delhi   3.286
CH         China    Beijing   9.597
SA  South Africa   Pretoria   1.221

In [35]:
##subsetting values index from rows
data_country[0:5]

         country    capital    area  population      continent
BR        Brazil   Brasilia   8.516      200.40  South America
RU        Russia     Moscow  17.100      143.50         Europe
IN         India  New Delhi   3.286     1252.00           Asia
CH         China    Beijing   9.597     1357.00           Asia
SA  South Africa   Pretoria   1.221       52.98         Africa

In [40]:
#subsetting using .loc specify only for india and china
data_country.loc[["IN", "CH"]]

   country    capital   area  population continent
IN   India  New Delhi  3.286      1252.0      Asia
CH   China    Beijing  9.597      1357.0      Asia

In [19]:
#subsetting using .loc for all country
data_country.loc[:, ["country", "area"]]

         country    area
BR        Brazil   8.516
RU        Russia  17.100
IN         India   3.286
CH         China   9.597
SA  South Africa   1.221

In [23]:
#subsetting using iloc
#it's use while we subsetting from index we want to search
data_country.iloc[[0,2,3],[0,2]]

   country   area
BR  Brazil  8.516
IN   India  3.286
CH   China  9.597

In [28]:
data_country.iloc[:, [0,3]]

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98

In [34]:
#extending data frame adding new column
continent = ["South America", "Europe", "Asia","Asia", "Africa"]
data_country["continent"] = continent
print(data_country)

         country    capital    area  population      continent
BR        Brazil   Brasilia   8.516      200.40  South America
RU        Russia     Moscow  17.100      143.50         Europe
IN         India  New Delhi   3.286     1252.00           Asia
CH         China    Beijing   9.597     1357.00           Asia
SA  South Africa   Pretoria   1.221       52.98         Africa