In [1]:
import pandas as pd

In [2]:
import numpy as np

In [18]:
df_brics = pd.read_csv("../../data/input/brics.csv")
df_brics

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [8]:
## cek kolumn dan row index
df_brics.columns

Index(['Unnamed: 0', 'country', 'capital', 'area', 'population'], dtype='object')

In [14]:
## menghitung index pada row yang ada dalam tabel
df_brics.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
## pindahkan unnamed = 0 ke row's index
brics_detail = df_brics.set_index("Unnamed: 0")
brics_detail

                 country    capital    area  population
Unnamed: 0
BR                Brazil   Brasilia   8.516      200.40
RU                Russia     Moscow  17.100      143.50
IN                 India  New Delhi   3.286     1252.00
CH                 China    Beijing   9.597     1357.00
SA          South Africa   Pretoria   1.221       52.98

In [21]:
brics_detail.reset_index()

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [23]:
brics_ = df_brics.set_index("country")
brics_

             Unnamed: 0    capital    area  population
country
Brazil               BR   Brasilia   8.516      200.40
Russia               RU     Moscow  17.100      143.50
India                IN  New Delhi   3.286     1252.00
China                CH    Beijing   9.597     1357.00
South Africa         SA   Pretoria   1.221       52.98

In [25]:

brics_.loc["India"]

Unnamed: 0           IN
capital       New Delhi
area              3.286
population       1252.0
Name: India, dtype: object