In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df_brics = pd.read_csv("../../data/input/brics.csv")
df_brics

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [4]:
## cek kolumn dan row index
df_brics.columns

Index(['Unnamed: 0', 'country', 'capital', 'area', 'population'], dtype='object')

In [5]:
## menghitung index pada row yang ada dalam tabel
df_brics.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
## pindahkan unnamed = 0 ke row's index
brics_detail = df_brics.set_index("Unnamed: 0")
brics_detail

                 country    capital    area  population
Unnamed: 0
BR                Brazil   Brasilia   8.516      200.40
RU                Russia     Moscow  17.100      143.50
IN                 India  New Delhi   3.286     1252.00
CH                 China    Beijing   9.597     1357.00
SA          South Africa   Pretoria   1.221       52.98

In [7]:
brics_detail.reset_index()

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [10]:
brics_ = df_brics.set_index("country")
brics_

             Unnamed: 0    capital    area  population
country
Brazil               BR   Brasilia   8.516      200.40
Russia               RU     Moscow  17.100      143.50
India                IN  New Delhi   3.286     1252.00
China                CH    Beijing   9.597     1357.00
South Africa         SA   Pretoria   1.221       52.98

In [11]:
#Subset informasi yang ada pada china
brics_.loc["China"]

Unnamed: 0         CH
capital       Beijing
area            9.597
population     1357.0
Name: China, dtype: object

In [12]:
homeless = pd.read_csv("../../data/input/homelessness.csv")
homeless

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588
5,5,Mountain,Colorado,7607.0,3250.0,5691287
6,6,New England,Connecticut,2280.0,1696.0,3571520
7,7,South Atlantic,Delaware,708.0,374.0,965479
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,11,Pacific,Hawaii,4131.0,2399.0,1420593
12,12,Mountain,Idaho,1297.0,715.0,1750536
13,13,East North Central,Illinois,6752.0,3891.0,12723071
14,14,East North Central,Indiana,3776.0,1482.0,6695497
15,15,West North Central,Iowa,1711.0,1038.0,3148618
16,16,West North Central,Kansas,1443.0,773.0,2911359
17,17,East South Central,Kentucky,2735.0,953.0,4461153
18,18,West South Central,Louisiana,2540.0,519.0,4659690
19,19,New England,Maine,1450.0,1066.0,1339057
20,20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,21,New England,Massachusetts,6811.0,13257.0,6882635
22,22,East North Central,Michigan,5209.0,3142.0,9984072
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
24,24,East South Central,Mississippi,1024.0,328.0,2981020
25,25,West North Central,Missouri,3776.0,2107.0,6121623
26,26,Mountain,Montana,983.0,422.0,1060665
27,27,West North Central,Nebraska,1745.0,676.0,1925614
28,28,Mountain,Nevada,7058.0,486.0,3027341
29,29,New England,New Hampshire,835.0,615.0,1353465
30,30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,31,Mountain,New Mexico,1949.0,602.0,2092741
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,34,West North Central,North Dakota,467.0,75.0,758080
35,35,East North Central,Ohio,6929.0,3320.0,11676341
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,37,Pacific,Oregon,11139.0,3337.0,4181886
38,38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,39,New England,Rhode Island,747.0,354.0,1058287
40,40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,41,West North Central,South Dakota,836.0,323.0,878698
42,42,East South Central,Tennessee,6139.0,1744.0,6771631
43,43,West South Central,Texas,19199.0,6111.0,28628666
44,44,Mountain,Utah,1904.0,972.0,3153550
45,45,New England,Vermont,780.0,511.0,624358
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,47,Pacific,Washington,16424.0,5880.0,7523869
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,50,Mountain,Wyoming,434.0,205.0,577601

In [13]:
# pindahkan region menjadi row index 
homeless_region = homeless.set_index(["region"])
homeless_region

,Unnamed: 0,state,individuals,family_members,state_pop
region,,,,,
East South Central,0,Alabama,2570.0,864.0,4887681
Pacific,1,Alaska,1434.0,582.0,735139
Mountain,2,Arizona,7259.0,2606.0,7158024
West South Central,3,Arkansas,2280.0,432.0,3009733
Pacific,4,California,109008.0,20964.0,39461588
Mountain,5,Colorado,7607.0,3250.0,5691287
New England,6,Connecticut,2280.0,1696.0,3571520
South Atlantic,7,Delaware,708.0,374.0,965479
South Atlantic,8,District of Columbia,3770.0,3134.0,701547
South Atlantic,9,Florida,21443.0,9587.0,21244317
South Atlantic,10,Georgia,6943.0,2556.0,10511131
Pacific,11,Hawaii,4131.0,2399.0,1420593
Mountain,12,Idaho,1297.0,715.0,1750536
East North Central,13,Illinois,6752.0,3891.0,12723071
East North Central,14,Indiana,3776.0,1482.0,6695497
West North Central,15,Iowa,1711.0,1038.0,3148618
West North Central,16,Kansas,1443.0,773.0,2911359
East South Central,17,Kentucky,2735.0,953.0,4461153
West South Central,18,Louisiana,2540.0,519.0,4659690
New England,19,Maine,1450.0,1066.0,1339057
South Atlantic,20,Maryland,4914.0,2230.0,6035802
New England,21,Massachusetts,6811.0,13257.0,6882635
East North Central,22,Michigan,5209.0,3142.0,9984072
West North Central,23,Minnesota,3993.0,3250.0,5606249
East South Central,24,Mississippi,1024.0,328.0,2981020
West North Central,25,Missouri,3776.0,2107.0,6121623
Mountain,26,Montana,983.0,422.0,1060665
West North Central,27,Nebraska,1745.0,676.0,1925614
Mountain,28,Nevada,7058.0,486.0,3027341
New England,29,New Hampshire,835.0,615.0,1353465
Mid-Atlantic,30,New Jersey,6048.0,3350.0,8886025
Mountain,31,New Mexico,1949.0,602.0,2092741
Mid-Atlantic,32,New York,39827.0,52070.0,19530351
South Atlantic,33,North Carolina,6451.0,2817.0,10381615
West North Central,34,North Dakota,467.0,75.0,758080
East North Central,35,Ohio,6929.0,3320.0,11676341
West South Central,36,Oklahoma,2823.0,1048.0,3940235
Pacific,37,Oregon,11139.0,3337.0,4181886
Mid-Atlantic,38,Pennsylvania,8163.0,5349.0,12800922
New England,39,Rhode Island,747.0,354.0,1058287
South Atlantic,40,South Carolina,3082.0,851.0,5084156
West North Central,41,South Dakota,836.0,323.0,878698
East South Central,42,Tennessee,6139.0,1744.0,6771631
West South Central,43,Texas,19199.0,6111.0,28628666
Mountain,44,Utah,1904.0,972.0,3153550
New England,45,Vermont,780.0,511.0,624358
South Atlantic,46,Virginia,3928.0,2047.0,8501286
Pacific,47,Washington,16424.0,5880.0,7523869
South Atlantic,48,West Virginia,1021.0,222.0,1804291
East North Central,49,Wisconsin,2740.0,2167.0,5807406
Mountain,50,Wyoming,434.0,205.0,577601