In [1]:
import pandas as pd

# creating DataFrame from Dictionary

In [3]:

country_profile = {"USA": {"capital": "Washington, D.C.", "GDP": 21.44}, 
               "China": {"capital": "Beijing", "GDP": 14.14},
               "Japan": {"capital": "Osaka", "GDP": 51.5},
               "Germany": {"capital": "Berlin", "GDP": 3.86},
               "India": {"capital": "New Delhi", "GDP": 2.94},
               "United Kingdom": {"capital": "London", "GDP": 2.83},
               "France": {"capital": "Paris", "GDP": 2.71},
               "Italy": {"capital": "Rome", "GDP":  1.99},
               "Brazil": {"capital": "Brasilia", "GDP": 1.85},
               "Canada": {"capital": "Ottawa", "GDP": 1.73}}

# buatlah DataFrame dari dictionary country_profile di atas

dt_country_profile = pd.DataFrame(country_profile)
print(dt_country_profile)

# print dt_country_profile

,USA,China,Japan,Germany,India,United Kingdom,France,Italy,Brazil,Canada
capital,"Washington, D.C.",Beijing,Osaka,Berlin,New Delhi,London,Paris,Rome,Brasilia,Ottawa
GDP,21.44,14.14,51.5,3.86,2.94,2.83,2.71,1.99,1.85,1.73

# creating DataFrame from CSV File

In [10]:
# pertama cek dahulu lokasi csv file pada working directory masing-masing

# contoh:

import os

os.getcwd()   #cek working directory

'/Users/abraham/Library/Mobile Documents/com~apple~CloudDocs/Devanta Abraham Tarigan/Projects/Python DSAI/Data Visualisation and Data Manipulation/data'

In [11]:
# set up working directory

os.chdir("../data/input/")

In [12]:
os.listdir()  # cek file dan folder apa saja yang ada di working directory

['temperatures.csv',
 'brics.csv',
 'FIFA_dirty_dataset.csv',
 'cars.csv',
 'gapminder.csv']

In [14]:
# sekarang import gapminder.csv menjadi DataFrame,
# jadikan nama "country" sebagai rows' label, dengan index_col = 1

countries_data = pd.read_csv("../../data/input/gapminder.csv", index_col=0)

#print countries_data, dan pahami konten dari DataFrame tersebut
countries_data

,Unnamed: 0,year,population,cont,life_exp,gdp_cap
country,,,,,,
Afghanistan,11,2007,31889923.0,Asia,43.828,974.580338
Albania,23,2007,3600523.0,Europe,76.423,5937.029526
Algeria,35,2007,33333216.0,Africa,72.301,6223.367465
Angola,47,2007,12420476.0,Africa,42.731,4797.231267
Argentina,59,2007,40301927.0,Americas,75.320,12779.379640
...,...,...,...,...,...,...
Vietnam,1655,2007,85262356.0,Asia,74.249,2441.576404
West Bank and Gaza,1667,2007,4018332.0,Asia,73.422,3025.349798
"Yemen, Rep.",1679,2007,22211743.0,Asia,62.698,2280.769906
Zambia,1691,2007,11746035.0,Africa,42.384,1271.211593
Zimbabwe,1703,2007,12311143.0,Africa,43.487,469.709298

# Subsetting values in DataFrame using [[_]]

In [84]:
# dari countries_data pilih hanya nama country dan population

countries_data[["population"]]

                    population
country
Afghanistan         31889923.0
Albania              3600523.0
Algeria             33333216.0
Angola              12420476.0
Argentina           40301927.0
...                        ...
Vietnam             85262356.0
West Bank and Gaza   4018332.0
Yemen, Rep.         22211743.0
Zambia              11746035.0
Zimbabwe            12311143.0

[142 rows x 1 columns]

# Subsetting values using .loc[[]] method

In [88]:
# cari informasi lengkap dari negara "Albania" dan "Vietnam"

countries_data.loc[["Albania" , "Vietnam"]]

         Unnamed: 0  year  population    cont  life_exp      gdp_cap
country
Albania          23  2007   3600523.0  Europe    76.423  5937.029526
Vietnam        1655  2007  85262356.0    Asia    74.249  2441.576404

In [87]:
# cari informasi gdp_cap dan population dari negara Indonesia & Singapore

countries_data.loc[["Indonesia", "Singapore"], ["gdp_cap"]]

                gdp_cap
country
Indonesia   3540.651564
Singapore  47143.179640

# Subsetting values using .iloc[[]] method

In [96]:
# pilih row pada index ke-1 dan ke-11, dan column: year dan gdp_cap

countries_data.iloc[[0, 10],[1,5]]

             year      gdp_cap
country
Afghanistan  2007   974.580338
Benin        2007  1441.284873