# Latihan Tipe Data dan Penggunaan Variabel

In [2]:
#Latihan ini untuk mengasah keterampilan memahami Tipe data dan Penggunaan Variabel
#Terdapat 4(empat) tipe data yang digunakan dalam Latihan ini yaitu :
    #Integer
    #String
    #Boolean
    #Floating
#Keterangan setiap Tipe data dan penggunaan Variabel baca di command yang diberikan
#Selamat Latihan

In [11]:
namaMahasiswa = "Abrahams Tarigan " #masukkan nama kamu disini (Gunakan Tipe Data String)
umurMahasiswa = 26 #masukkan umur kamu disini (Gunakan Tipe Data Integer)
#Untuk Jenis kelamin silahkan masukkan jenis kelamin masing - masing misalnya Pria dan Wanita 
#jika jenis kelamin Kamu adalah pria maka = :
pria = True #Masukkan Jenis Kelamin Kamu disini (Gunakan Tipe Data Boolean yaitu: True or False)
#jika jenis kelamin Kamu adalah wanita maka = :
wanita = False #Masukkan Jenis Kelamin Kamu disini (Gunakan Tipe Data Boolean yaitu: True or False)
beratBadan = 73.1 #Masukkan berat badan kamu (Gunakan Tipe Data Floating)

print("Nama Mahasiswa        :",namaMahasiswa)
print("Umur Mahasiswa        :",umurMahasiswa)
print("Jenis Kelamin Pria    :",pria)
print("Jenis Kelamin Wanita  :",wanita)
print("Berat Badan Mahasiswa :",beratBadan)

Nama Mahasiswa        : Abraham Tarigan
Umur Mahasiswa        : 26
Jenis Kelamin Pria    : True
Jenis Kelamin Wanita  : False
Berat Badan Mahasiswa : 73.1

In [14]:
#Latihan ini untuk mengecek tipe data yang digunakan.
#kembali tampilkan jenis tipe data dengan variable yang kamu gunakan diatas
#contoh:
    #type(namaMahasiswa) --> akan menampilkan tipe data 'str' lihat dihasilnya 
type(namaMahasiswa)
#lanjutkan sampai variabel untuk berat badan mahasiswa

str

## Multiple values didalam Variabel

In [2]:
#variable string
namaMahasiswa = ("Abraham", "Matius", "Alexander", "Michael")

#variabel integer
umurMahasiswa = (20, 30, 40, 51)

#variable floating
beratBadan = (1.45, 2.30, 5,6)

#variable boolean
jenisKelamin = (True, False, True, False)

print(namaMahasiswa)
print(umurMahasiswa)
print(beratBadan)
print(jenisKelamin)

('Abraham', 'Matius', 'Alexander', 'Michael')
(20, 30, 40, 51)
(1.45, 2.3, 5, 6)
(True, False, True, False)

## Working Directory Management

In [21]:
import os

In [57]:
os.getcwd() ##untuk mengecek lokasi tempat kerja

'/Users/macbookpro2013/Library/Mobile Documents/com~apple~CloudDocs/Devanta Abraham Tarigan/Projects/Python Beginners/1/codes'

In [23]:
os.listdir() ##untuk mengecek file didalam direktori

['Latihan_pertama.ipynb', '.ipynb_checkpoints']

In [56]:
os.chdir("../codes") ##untuk mengubah lokasi tempat kerja

## Python calculator

In [30]:
4 ** 2 #perpangkatan(Exponentiation)

16

In [31]:
3 * 5 #perkalian(Multiplication)

15

In [33]:
9 % 2 #module = sisa hasil bagi

1

In [34]:
10/5 #pembagian(Division)

2.0

In [35]:
5 + 5 #penjumlahan(Sum)

10

In [37]:
4 - 2 #pengurangan

2

In [41]:
"ab" + "cd" #penjumlahan string

'abcd'

## Kalkulasi dan Konversi Variabel

In [42]:
# mengalikan integer dengan floating
x = 2.5
y = 4

xy = x * y
print(xy)

10.0

In [48]:
# menjumlahkan (sum) string
x = "Hai "
y = "Abraham"

xy = x + y
print(xy)

Hai Abraham

In [47]:
# menjumlahkan boolean
x = True #true memiliki nilai 1
y = False #false memiliki nilai 0

xy = x + y
print(xy)

1

In [59]:
#hasil jualan 50 baju
modal = 1000 * 50
hasil = 1200 * 50

#laporan hasil penjualan (converting integer ke string)
print("Modal awal jualan baju adalah Rp." + str(modal) + 
      " dan hasil dari penjualan baju adalah Rp." + str(hasil) +
      " berarti saya mendapatkan untung sebesar Rp." + str(hasil - modal))

Modal awal jualan baju adalah Rp.50000 dan hasil dari penjualan baju adalah Rp.60000 berarti saya mendapatkan untung sebesar Rp.10000