In [48]:
!pip install seaborn

zsh:1: command not found: pip

In [3]:
#import numpy library
import numpy as np

In [6]:
import seaborn as sns

In [7]:
#array np
np_array = np.array([1, 2, 3])
print(np_array)

[1 2 3]

## Python Collection (List)

In [8]:
#Listdasar
name_age = ["Abraham", 30, "Kristian", 20]
print(name_age)

['Abraham', 30, 'Kristian', 20]

In [9]:
#ListofList (Sub-List)
name_age=[["Abraham", 30],
          ["Kristian", 20],
          ["Adriana", 40],
          ["Samuel", 50]]
print(name_age)

[['Abraham', 30], ['Kristian', 20], ['Adriana', 40], ['Samuel', 50]]

In [4]:
#membuat list dari variabel

#luas ruangan
kitchen = 16.1
livingroom = 15.2
bedroom = 13.2
bathroom = 12.1

ruangan_rumah = [kitchen, livingroom, bedroom, bathroom]
print(ruangan_rumah)


#memasukkan judul ke setiap luas ruangan
ruangan_rumah = ["dapur", kitchen, 
                 "ruangan tamu", livingroom, 
                 "kamar tidur", bedroom, 
                 "kamar mandi", bathroom]
print(ruangan_rumah)

[16.1, 15.2, 13.2, 12.1]
['dapur', 16.1, 'ruangan tamu', 15.2, 'kamar tidur', 13.2, 'kamar mandi', 12.1]

## Subset dan Kalkulasi List

In [8]:
#subseting list sederhana

age_name = ["abraham", 26, "Sikorsky", 23, "Michelle", 25, "Ruben", 40]

#memilih sikorsky
age_name[2]

'Sikorsky'

In [12]:
#subseting dari index yang paling terakhir

#memilih michelle
age_name[-4]

#index -4 artinya adalah urutan nomer 4 dari belakang begitu juga -1

'Michelle'

## List Clicing

In [33]:
##Slicing adalah sebuah metode ketika hendak memilih multiple values yang lokasi indexnya 
##berurutan pada kumpulan data ada

age_name = ["abraham", 26, "Sikorsky", 23, "Michelle", 25, "Ruben", 40]
#mengambil index urutan ke 3 dan 6
age_name[0:2]
##yang harus diperhatikan dalam melalukan slicing:
    #urutan index terkahir akan dikurangin 1 dalam menampilkan index

['abraham', 26]

In [29]:
age_name[6:8] #contoh ke dua dalam slicing

['Ruben', 40]

In [34]:
#Slicing tanpa Ending
age_name[3:] #akan memunculkan nilai yang pada index ke 3 hingga terakhir

[23, 'Michelle', 25, 'Ruben', 40]

In [36]:
#Slicing tanpa Start
age_name[:3] #akan memunculkan nilai yang pada index ke 0 hingga ke index ke 3

['abraham', 26, 'Sikorsky']

## Calculating List

In [42]:
#list dari luas masing - masing ruangan dalam m2
luas_ruangan = ['dapur', 19.0,
                'ruang tamu', 20.0,
                'kamar tidur', 10,
                'kamar mandi', 5]

#hitung luas service area dalam m2
service_area = luas_ruangan[3] + luas_ruangan[7]
print(service_area)

25.0

## Manipulating List

In [63]:
#Merubah Element dalam list(Change List Elements)

##change list elements adalah sebuah metode yang dapat digunakan untuk memperbaiki(correcting)
##dan menggantin(replacing) element atau value yang ada dalam list

#varibel_nama[index] = nilai yang baru

student_grade =["Timothy", 8.9, "Andreas", 9.1, "Kruzzer", 8.6, "Abraham", 7.9]
#ganti nilai abraham menjadi 9.8
student_grade[7] = 9.8
print(student_grade)

['Timothy', 8.9, 'Andreas', 9.1, 'Kruzzer', 8.6, 'Abraham', 9.8]

In [64]:
#Change Multiple List Elements
student_grade[2:4]= "Andreas Tarigan", 8.8
print(student_grade)

['Timothy', 8.9, 'Andreas Tarigan', 8.8, 'Kruzzer', 8.6, 'Abraham', 9.8]

In [65]:
#Extending element list (menambahkan element kedalam list)
total_student = student_grade + ["Combo", 9.5]
print(total_student)

['Timothy', 8.9, 'Andreas Tarigan', 8.8, 'Kruzzer', 8.6, 'Abraham', 9.8, 'Combo', 9.5]

In [66]:
#Removing List Element(Menghapus List dalam Element)
del(student_grade[0:2])
print(student_grade)

['Andreas Tarigan', 8.8, 'Kruzzer', 8.6, 'Abraham', 9.8]

In [68]:
##cara kerja operator aritmatika dengan List
##untuk menggabungkan 2 list
list_pertama = ([1, 2, 3, 4, 5])
list_kedua   = ([6, 7, 8, 9, 10])

list_gabungan = list_pertama + list_kedua
print(list_gabungan)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]